<?xml version="1.0" encoding="utf-8"?>
<zone>
{% for s in firewalld_services if ( s.zone | default('public') == item.name
      and s.state | default('present') == 'present'
      and not s.sources | default([]) ) %}
  <service name="{{ s.name }}"/>
{% endfor %}
{% for r in firewall_rules if ( r.zone | default('public') == item.name
      and r.state | default('present') == 'present' ) %}
{% if r.sources | default([]) | length == 0 and r.source | default('any') == 'any' %}
  <port port="{{ r.port }}" protocol="{{ r.protocol | default('tcp') }}"/>
{% else %}
{% for source in r.sources | default([r.source]) %}
  <rule family="{{ r.family | default('ipv4') }}">
    <source address="{{ source }}"/>
    <port port="{{ r.port }}" protocol="{{ r.protocol | default('tcp') }}"/>
    <accept/>
  </rule>
{% endfor %}
{% endif %}
{% endfor %}
{% for s in item.sources | default([]) if s.state | default('present') == 'present' %}
  <source address="{{ s }}"/>
{% endfor %}
{% for i in item.interfaces | default([]) if i.state | default('present') == 'present' %}
  <interface name="{{ i }}"/>
{% endfor %}
{% if item.forward | default(false) %}
  <forward/>
{% endif %}
{% if item.masquerade | default(false) %}
  <masquerade/>
{% endif %}
{% if item.icmp_block_inversion | default(false) %}
  <icmp_block_inversion/>
{% endif %}
{% if item.icmp_block is defined and item.icmp_block_state | default('present') == 'present' %}
  <icmp-block name="{{ item.icmp_block }}"/>
{% endif %}
</zone>
